# Build results
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# .NET Core
*.swp
*.*~
project.lock.json
.project
.DS_Store

# User-specific files
appsettings.Development.json
appsettings.*.json
!appsettings.json

# Logs
logs/
*.log
npm-debug.log*

# Dependencies
node_modules/

