bin/Debug/netcoreapp3.1/appsettings.Development.json
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/UrlMin
bin/Debug/netcoreapp3.1/UrlMin.deps.json
bin/Debug/netcoreapp3.1/UrlMin.dll
bin/Debug/netcoreapp3.1/UrlMin.pdb
bin/Debug/netcoreapp3.1/UrlMin.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/UrlMin.runtimeconfig.json
obj/project.assets.json
obj/UrlMin.csproj.nuget.cache
obj/UrlMin.csproj.nuget.dgspec.json
obj/UrlMin.csproj.nuget.g.props
obj/UrlMin.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/project.razor.json
obj/Debug/netcoreapp3.1/UrlMin
obj/Debug/netcoreapp3.1/UrlMin.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/UrlMin.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/UrlMin.assets.cache
obj/Debug/netcoreapp3.1/UrlMin.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/UrlMin.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/UrlMin.dll
obj/Debug/netcoreapp3.1/UrlMin.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/UrlMin.pdb
obj/Debug/netcoreapp3.1/UrlMin.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.1/staticwebassets/UrlMin.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/staticwebassets/UrlMin.StaticWebAssets.xml
